body{
    margin: 0 auto;
    text-align: center; 
    background-color:#F0F7EE;
}

.full-page{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    width: 700px;
    border-bottom: solid 1px #5D737E;
}

#how-to-play{
    text-align: left;
    font-family: 'Pacifico', cursive;
}

.input-container div{
    display: flex;
}
.input-container .square{
    width: 55px;
    height: 55px;
    border: 1px solid #5D737E;
    box-sizing: border-box;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Georgia;
}

.keyboardRow{
   margin: 1px;
}

img{
    width: 35px;
    height: 35px;
}

.keyboardRow button{
    background: #F0F7EE;
    background-image: -webkit-linear-gradient(top, #F0F7EE, #e6e8d7);
    background-image: -moz-linear-gradient(top, #F0F7EE, #e6e8d7);
    background-image: -ms-linear-gradient(top, #F0F7EE, #e6e8d7);
    background-image: -o-linear-gradient(top, #F0F7EE, #e6e8d7);
    background-image: linear-gradient(to bottom, #F0F7EE, #e6e8d7);
    border-radius: 28px;
    font-family: Georgia;
    color: #2b252b;
    font-size: 20px;
    padding: 10px 8px 9px 9px;
    text-decoration: none;
}

.reset-button{
    background: #F0F7EE;
    background-image: -webkit-linear-gradient(top, #F0F7EE, #e6e8d7);
    background-image: -moz-linear-gradient(top, #F0F7EE, #e6e8d7);
    background-image: -ms-linear-gradient(top, #F0F7EE, #e6e8d7);
    background-image: -o-linear-gradient(top, #F0F7EE, #e6e8d7);
    background-image: linear-gradient(to bottom, #F0F7EE, #e6e8d7);
    border-radius: 28px;
    font-family: Georgia;
    color: #2b252b;
    font-size: 20px;
    padding: 10px 8px 9px 9px;
    text-decoration: none;
}
  


.square.flip{
    animation: 1s linear flipping;
}

@keyframes flipping{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.grey-overlay{
    background: #929691 !important;
}
.yellow-overlay{
    background: #FFF07C !important;
}
.green-overlay{
    background: #87BBA2 !important;
}
.black-overlay{
    background: #262426 !important;
}

#window-message {
    width: 300px;
    text-align: center;
    color: rgb(18, 17, 18);
}
  
#win-message {
   
    font-size: 24px;
    font-weight: bold;
    background: #87BBA2;

    border: 2px solid rgb(6, 68, 26);
    display: none;
}
  
#gameover-message {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    background: #929691;
   
    border: 2px solid rgb(59, 74, 65);
    display: none;
}

.intructions{
    text-align: left;
}

@media only screen and (max-width: 600px){
    body
    .full-page{
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 90vh;
    }
    
    .title{
        font-size: 15px;
    }

    .input-container .square{
        width: 45px;
        height: 45px;
        font-size: 35px;
    }

    .keyboardRow button{
        font-size: 15px;
    }
    
    .reset-button{
        font-size: 17px;
    }    
}