body{
    text-align: center; 
    background-color:rgb(222, 222, 241);
}

.full-page{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title{
    width: 700px;
    border-bottom: solid 1px rgb(137, 70, 199);
}

#how-to-play{
    text-align: left;
}

.input-container div{
    display: flex;
}
.input-container .square{
    width: 55px;
    height: 55px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.keyboardRow{
   margin: 1px;
   
}

.keyboardRow button{
    border-radius: 5px;
    margin: 1px;
    width: 30px;
    height: 30px;
    font-size: 20px;
} 
#key-delete{
    width: 40px;
    height: 30px;
    font-size: 13px;
 
}

#key-enter{
    width: 60px;
    height: 30px;
    font-size: 13px;
} 


.square.flip{
    animation: 1s linear flipping;
}

@keyframes flipping{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.grey-overlay{
    background-color:rgb(168, 157, 177) !important;
}
.yellow-overlay{
    background-color: rgb(233, 233, 118) !important;
}
.green-overlay{
    background-color: rgb(156, 202, 156) !important;
}

#window-message {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 50px; 
    text-align: center;
    color: rgb(18, 17, 18);
  }
  
  #win-message {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(156, 202, 156);
    border: 2px solid rgb(6, 68, 26);
    display: none;
  }
  
  #gameover-message {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(102, 106, 102);
    border: 2px solid rgb(59, 74, 65);
    display: none;
  }
  




