body{
    margin: 0 auto;
    text-align: center; 
    background-color:rgb(222, 222, 241);
}

.full-page{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-family: 'Solitreo', cursive;
    font-size: 20px;
    width: 700px;
    border-bottom: solid 1px rgb(137, 70, 199);
}

#how-to-play{
    text-align: left;
    
}

.input-container div{
    display: flex;
}
.input-container .square{
    width: 55px;
    height: 55px;
    border: 1px solid #c061d5;
    box-sizing: border-box;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.keyboardRow{
   margin: 1px;
   
}

.keyboardRow button{
    background: #c680d6;
    background-image: -webkit-linear-gradient(top, #c680d6, #2980b9);
    background-image: -moz-linear-gradient(top, #c680d6, #2980b9);
    background-image: -ms-linear-gradient(top, #c680d6, #2980b9);
    background-image: -o-linear-gradient(top, #c680d6, #2980b9);
    background-image: linear-gradient(to bottom, #c680d6, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #2b252b;
    font-size: 20px;
    padding: 10px 8px 9px 9px;
    text-decoration: none;
}
  


.square.flip{
    animation: 1s linear flipping;
}

@keyframes flipping{
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.grey-overlay{
    background: #403d40 !important;
    background-image: -webkit-linear-gradient(top, #403d40, #a680b0) !important;
    background-image: -moz-linear-gradient(top, #403d40, #a680b0) !important;
    background-image: -ms-linear-gradient(top, #403d40, #a680b0) !important;
    background-image: -o-linear-gradient(top, #403d40, #a680b0) !important;
    background-image: linear-gradient(to bottom, #403d40, #a680b0) !important;
}
.yellow-overlay{
    background: #fff700 !important;
    background-image: -webkit-linear-gradient(top, #fff700, #a680b0) !important;
    background-image: -moz-linear-gradient(top, #fff700, #a680b0) !important;
    background-image: -ms-linear-gradient(top, #fff700, #a680b0) !important;
    background-image: -o-linear-gradient(top, #fff700, #a680b0) !important;
    background-image: linear-gradient(to bottom, #fff700, #a680b0) !important;
}
.green-overlay{
    background: #1ce826 !important;
    background-image: -webkit-linear-gradient(top, #1ce826, #a680b0) !important;
    background-image: -moz-linear-gradient(top, #1ce826, #a680b0) !important;
    background-image: -ms-linear-gradient(top, #1ce826, #a680b0) !important;
    background-image: -o-linear-gradient(top, #1ce826, #a680b0) !important;
    background-image: linear-gradient(to bottom, #1ce826, #a680b0) !important;
}

#window-message {
   
    width: 300px;
    height: 50px; 
    text-align: center;
    color: rgb(18, 17, 18);
  }
  
#win-message {
   
    font-size: 24px;
    font-weight: bold;
    background: #c680d6;
    background-image: -webkit-linear-gradient(top, #c680d6, #2980b9);
    background-image: -moz-linear-gradient(top, #c680d6, #2980b9);
    background-image: -ms-linear-gradient(top, #c680d6, #2980b9);
    background-image: -o-linear-gradient(top, #c680d6, #2980b9);
    background-image: linear-gradient(to bottom, #c680d6, #2980b9);
    border: 2px solid rgb(6, 68, 26);
    display: none;
}
  
#gameover-message {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    background: #c680d6;
    background-image: -webkit-linear-gradient(top, #c680d6, #2980b9);
    background-image: -moz-linear-gradient(top, #c680d6, #2980b9);
    background-image: -ms-linear-gradient(top, #c680d6, #2980b9);
    background-image: -o-linear-gradient(top, #c680d6, #2980b9);
    background-image: linear-gradient(to bottom, #c680d6, #2980b9);
    border: 2px solid rgb(59, 74, 65);
    display: none;
}

/* #invalid-word-message {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    background: #c680d6;
    background-image: -webkit-linear-gradient(top, #c680d6, #2980b9);
    background-image: -moz-linear-gradient(top, #c680d6, #2980b9);
    background-image: -ms-linear-gradient(top, #c680d6, #2980b9);
    background-image: -o-linear-gradient(top, #c680d6, #2980b9);
    background-image: linear-gradient(to bottom, #c680d6, #2980b9);
    border: 2px solid rgb(59, 74, 65);
    display: none;
} */
  



